@import url("/Billings/css/add.plan.scss");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sidebar {
  background: url(../images/billings-sidebar.png) no-repeat;
  background-size: cover;
}

img {
  width: 10rem;
}

.submenu {
  background: url(../images/weee.png) no-repeat center;
  background-size: cover;
  width: 60%;
}

#menu {
  padding-left: 3rem;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: #ffffff;
  text-decoration: none;
  padding-top: inherit;
}

h3.nav-plan {
  color: aliceblue;
  padding-left: 19rem;
}

.admin {
  font-size: 1.1rem;
}

.admin .super-admin {
  align-items: center;
}

.show-entries {
  align-items: baseline;
  color: #666666;
}

.admin .admin-name {
  font-size: 0.8em;
}

.plan {
  border-radius: 3rem;
  border-style: solid;
  width: 7rem;
  text-align: center;
  border-color: aliceblue;
  color: aliceblue;
  background-color: transparent;
}

.number .number-dropdown a.numbers {
  color: #666666;
}

.number-dropdown {
  width: 3.5rem;
  height: 1.8rem;
  border-style: solid;
  border-radius: 2rem;
  text-align: center;
  border-color: #666666;
  color: #666666;
}

img.rounded-circle {
  border-style: solid;
  border-color: aliceblue;
  border-width: 0.2rem;
}

.rounded-circle {
  border-radius: 50% !important;
  height: 4rem;
  width: 4rem;
}

i.fas.fa-sign-out-alt {
  padding-top: 1rem;
  text-align: center;
}

span.signout {
  font-size: 13px;
}

input.form-control {
  border-radius: 3rem;
}

.add-plan {
  text-align: end;
}

.row.basic-info {
  background-image: linear-gradient(to right, #c3def2, #e8eff3);
}

.row.address {
  background-image: linear-gradient(to right, #c3def2, #e8eff3);
}

.row.payment {
  background-image: linear-gradient(to right, #c3def2, #e8eff3);
}

.form-controls {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #D7E9F2;
  background-clip: padding-box;
  border: 1px solid #666666;
  border-radius: 3rem;
}

span.search {
  display: flex;
  align-items: center;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  /* white-space: nowrap; */
  /* background-color: #e9ecef; */
  /* border: 1px solid #ced4da; */
  /* border-radius: .25rem; */
  position: relative;
  right: 3rem;
}

i.fas.fa-search {
  bottom: 2rem;
  left: 13rem;
  position: relative;
  color: #666666;
}

.show {
  align-items: center;
}

.number {
  text-align: end;
}

.show-number {
  align-items: baseline;
}

.table-1 {
  background-color: #D9E8ED;
  color: #4D4D4D;
}

.table-2 {
  color: #999999;
}
.table-2 .open {
  color: #29ABE2;
}
.table-2 .send {
  color: #ED1C24;
}
.table-2 .cancelled {
  color: #F7931E;
}

.table-3 {
  background-color: #D9E8F2;
  color: #999999;
}
.table-3 .ready {
  color: #009245;
}
.table-3 .paid {
  color: #013F39;
}

img.table-image {
  width: 2rem;
  height: 2rem;
}

span.center-name {
  padding-left: 8px;
}

i.fa-solid.fa-pen {
  border: 1px solid orange;
  padding: 1px !important;
  color: orange;
  padding-left: 1rem;
}

i.fas.fa-eye {
  color: green;
}

.fa-eye:before {
  padding-right: 7px;
}

select.select-menu {
  width: 18rem;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #666666;
  background-color: transparent;
  background-clip: padding-box;
  border: 1.4px solid #000000;
  border-radius: 3rem;
}

input.form-name {
  width: 18rem;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: transparent;
  background-clip: padding-box;
  border: 1.4px solid #000000;
  border-radius: 3rem;
}

textarea#exampleFormControlTextarea1 {
  height: 122px;
  background: transparent;
  border: 1px solid #666666;
  border-radius: 1rem;
  width: 40rem;
}

.click {
  text-align: end;
}
.click .back {
  width: 5rem;
  border: none;
  margin-right: 1rem;
}
.click .reset {
  width: 5rem;
  border: none;
  margin-right: 1rem;
}
.click .save {
  width: 5rem;
  border: none;
  color: #D9E8F2;
  background-color: #90bfe5;
}

.logo img.tiny-logo {
  width: 3rem;
}

img.basic:hover {
  border: 2px solid #4CB2E5;
  border-radius: 0.5rem;
  padding: 5px !important;
}

img.standard:hover {
  border: 2px solid #4CB2E5;
  border-radius: 0.5rem;
  padding: 5px !important;
}

img.premium:hover {
  border: 2px solid #4CB2E5;
  border-radius: 0.5rem;
  padding: 5px !important;
}

img.customized:hover {
  border: 2px solid #4CB2E5;
  border-radius: 0.5rem;
  padding: 5px !important;
}

span.basic-month {
  position: relative;
  bottom: 2.5rem;
  left: 1.5rem;
  color: #4CB2E5;
  font: caption;
  font-size: 13px;
}

span.basic-annum {
  position: relative;
  bottom: 2.5rem;
  left: 3rem;
  font-size: 12px;
  color: #4CB2E5;
}

span.customized-month {
  position: relative;
  bottom: 4rem;
  left: 1.5rem;
  color: #4CB2E5;
  font: caption;
  font-size: 13px;
}

span.customized-annum {
  position: relative;
  bottom: 4rem;
  left: 3rem;
  font-size: 12px;
  color: #4CB2E5;
}

input#demoInput {
  position: relative;
  bottom: 6rem;
  left: 2.5rem;
  height: 16px;
  color: #666666;
  border: none;
  width: 2rem;
  text-align: center;
}

button.increment {
  height: 0.7rem;
  position: relative;
  bottom: 92px;
  left: 2.5rem;
  border: none;
  color: #666666;
  padding-bottom: 1rem;
  width: 1.4rem;
  background-color: #FFFFFF;
}

span.plus {
  position: relative;
  bottom: 5.5px;
}

button.decrement {
  height: 0.7rem;
  position: relative;
  bottom: 92px;
  left: 2.5rem;
  border: none;
  color: #666666;
  padding-bottom: 1rem;
  width: 1.4rem;
  background-color: #FFFFFF;
}

span.minus {
  position: relative;
  bottom: 5.5px;
}

p.month {
  background: #E9F2FC;
  height: 6.5rem;
  width: 13rem;
  border-radius: 0.4rem;
  padding-top: 1rem;
  color: #666666;
  padding-left: 2rem;
  font-size: 13px;
}

p.month:hover {
  border: 2px solid #4CB2E5;
  border-radius: 0.5rem;
  padding-left: 2rem;
  padding-top: 1rem;
}

span.monthly {
  font-weight: bold;
}

p.annum {
  background: #F4E5DF;
  height: 6.5rem;
  width: 13rem;
  border-radius: 0.4rem;
  padding-top: 1rem;
  color: #666666;
  padding-left: 2rem;
  font-size: 13px;
}

p.annum:hover {
  border: 2px solid #4CB2E5;
  border-radius: 0.5rem;
  padding-left: 2rem;
  padding-top: 1rem;
}

span.annual {
  font-weight: bold;
}

span.doller {
  color: #4CB2E5;
  font-size: 1rem;
}/*# sourceMappingURL=center.css.map */